@model DryFruitSelling.Models.SalesModel

@{
    ViewBag.Title = "Details";
}


<main class="flex-shrink-0">
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person-circle"></i></div>


                    <h1 class="fw-bolder">Product Sales Details</h1>

                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">


                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.SaleID)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SaleID)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CustomerID)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CustomerID)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.FruitType)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FruitType)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Quantity)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.SaleDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SaleDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Revenue)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Revenue)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
