@model IEnumerable<DryFruitSelling.Models.DRearchModel>

@{
    ViewBag.Title = "Index";
}


@if (TempData["Success"] != null)
{
    <script>alert("@TempData["Success"]")</script>
}




@if (TempData["Error"] != null)
{
    <script>alert("@TempData["Error"]")</script>
}


<div class="p-3 mb-2 bg-secondary text-white text-center mt-5 mb-5">
    Developement And Reaserch Record Details

</div>

<p>
    @Html.ActionLink("Create New", "Create")
    &nbsp;&nbsp;&nbsp;&nbsp;

    @Html.ActionLink("Search", "Search")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RnDProjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RnDProjectID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">


                    @using (Html.BeginForm("Edit", "DResearch", new { id = item.id }, FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-warning" type="submit">Edit</button>
                    }

                    &nbsp;

                    @using (Html.BeginForm("Details", "DResearch", new { id = item.id }, FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-primary" type="submit">Details</button>
                    }

                    &nbsp;

                    @using (Html.BeginForm("Delete", "DResearch", new { id = item.id }, FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-danger" type="submit">Delete</button>
                    }




                </div>
            </td>
        </tr>
    }

</table>
