@model IEnumerable<DryFruitSelling.Models.QualityModel>





@if (TempData["Success"] != null)
{
    <script>alert("@TempData["Success"]")</script>
}




@if (TempData["Error"] != null)
{
    <script>alert("@TempData["Error"]")</script>
}


<div class="p-3 mb-2 bg-secondary text-white text-center mt-5 mb-5">
    QualityChecking Record Details

</div>







<p>
    @Html.ActionLink("Create New", "Create")

    &nbsp;&nbsp;&nbsp;&nbsp;

    @Html.ActionLink("Search", "Search")

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QualityCheckID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectionOutcome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QualityCheckID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionID)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.InspectionDate)*@
                @item.InspectionDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionOutcome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">


                    @using (Html.BeginForm("Edit", "Quality", new { id = item.id }, FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-warning" type="submit">Edit</button>
                    }

                    &nbsp;

                    @using (Html.BeginForm("Details", "Quality", new { id = item.id }, FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-primary" type="submit">Details</button>
                    }

                    &nbsp;

                    @using (Html.BeginForm("Delete", "Quality", new { id = item.id }, FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-danger" type="submit">Delete</button>
                    }




                </div>
            </td>
        </tr>
    }

</table>
