@model IEnumerable<DryFruitSelling.Models.QualityModel>


<div class="p-3 mb-2 bg-secondary text-white text-center mt-5 mb-5">
    QualityChecking Record Details

</div>


<p>
    @Html.ActionLink("Go To Index", "Index")
</p>




@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="offset-5 text-dark mb-5">
        <div class="form-group">
            <label for="Search">Search Quality Details</label>
            <input type="search" class="form-control" name="Search" placeholder="Search Quality Details" />
        </div>


        <div class="form-group mt-2">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-success" />
            </div>


        </div>

    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QualityCheckID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectionOutcome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QualityCheckID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionOutcome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
