@model IEnumerable<DryFruitSelling.Models.EnvironmentalModel>

@{
    ViewBag.Title = "Index";
}


@if (TempData["Success"] != null)
{
    <script>alert("@TempData["Success"]")</script>
}




@if (TempData["Error"] != null)
{
    <script>alert("@TempData["Error"]")</script>
}


<div class="p-3 mb-2 bg-secondary text-white text-center mt-5 mb-5">
    Environmental Record Details

</div>

<p>
    @Html.ActionLink("Create New", "Create")

    &nbsp;&nbsp;&nbsp;&nbsp;

    @Html.ActionLink("Search", "Search")


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SustainabilityPracticeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PracticeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImplementationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Impact)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SustainabilityPracticeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracticeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImplementationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impact)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">


                    @using (Html.BeginForm("Edit", "Environmental", new { id = item.id }, FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-warning" type="submit">Edit</button>
                    }

                    &nbsp;

                    @using (Html.BeginForm("Details", "Environmental", new { id = item.id }, FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-primary" type="submit">Details</button>
                    }

                    &nbsp;

                    @using (Html.BeginForm("Delete", "Environmental", new { id = item.id }, FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-danger" type="submit">Delete</button>
                    }




                </div>
            </td>
        </tr>
    }

</table>
