@model IEnumerable<DryFruitSelling.Models.inventory>

@{
    ViewBag.Title = "Index";
}






@if (TempData["Success"] != null)
{
    <script style="color:green">
                        alert("@TempData["Success"]")

    </script>
}

@if (TempData["Error"] != null)
{
    <script style="color:indianred">
                        alert("@TempData["Error"]")

    </script>
}



<div class="p-3 mb-2 bg-secondary text-white text-center mt-5 mb-5">
    Inventory System Record Details

</div>




@if (TempData["Success"] != null)
{
    <script style="color:green">
                        alert("@TempData["Success"]")

    </script>
}

@if (TempData["Error"] != null)
{
    <script style="color:indianred">
                        alert("@TempData["Error"]")

    </script>
}









<p>
    @Html.ActionLink("Create New", "Create")

    &nbsp;&nbsp;&nbsp;&nbsp;

    @Html.ActionLink("Search", "Search")
</p>
<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.InventoryID)
        </th>






        <th>
            @Html.DisplayNameFor(model => model.FruitType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreservationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.InventoryID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FruitType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreservationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">


                    @using (Html.BeginForm("Edit", "Inventory", new { id = item.id }, FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-warning" type="submit">Edit</button>
                    }

                    &nbsp;

                    @using (Html.BeginForm("Details", "Inventory", new { id = item.id }, FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-primary" type="submit">Details</button>
                    }

                    &nbsp;

                    @using (Html.BeginForm("Delete", "Inventory", new { id = item.id }, FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-danger" type="submit">Delete</button>
                    }




                </div>
            </td>
        </tr>
    }

</table>
